PORT=5000
HOST=0.0.0.0
MONGODB_URI=mongodb://127.0.0.1:27017/toyrental
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=7d
NODE_ENV=development
# PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id
# PAYPAL_CLIENT_SECRET=your_paypal_sandbox_client_secret
# PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
# PAYPAL_SUCCESS_URL=http://localhost:5000/api/payment/success
# PAYPAL_CANCEL_URL=http://localhost:5000/api/payment/cancel
# PAYPAL_ERROR_URL=http://localhost:5000/api/payment/error
# PAYPAL_WEBHOOK_ID=